.footer {
  background-color: #FFCC00;
  width: 100%;
}

.footer__legal {
  padding: 16px 48px;
}

.footer__legal-text {
  font-size: 11px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
  line-height: 1.6;
  text-align: center;
}